.top-nav {
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    button {
        background: transparent;
        cursor: pointer;
        border: 2px solid rgb(65, 65, 65);
        padding: .5rem;
        transition: all .3s ease-out;
        outline: none;

        svg {
            margin-left: 3px
        }

        &:hover{
            background: rgb(65, 65, 65);
            color: #fff;
        }
    }
}

@media screen and (max-width: 768px) {
    .top-nav {
        button {
            z-index: 10;
        }
    }
}