* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: rgba(155, 155 ,155 , 0.5) transparent;
}

*::-webkit-scrollbar {
    width: 5px
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155 ,155 , 0.5);
    border-radius: 20px;
    border: transparent;
}

body {
    font-family: 'Lato', sans-serif;
}

h1, h2, h5, h6 {
    color: rgb(54, 54, 54);
}

h3, h4 {
    font-weight: 400;
    color: rgb(100, 100, 100);
}

.App {
    transition: all .5s ease;
}

.library-active {
    margin-left: 20rem;
}


@import './player';
@import './song';
@import './library';
@import './nav';